| app/pages/dashboard/dashboard.component.html |
<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>กรุณากรอกข้อมูล</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputFirstName">ชื่อ*</label>
              <input type="text" class="form-control" id="inputFirstName" placeholder="ชื่อ">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputLastName">นามสกุล*</label>
              <input type="text" class="form-control" id="inputLastName" placeholder="นามสกุล">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputEmail">ชื่อเล่น*</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="ชื่อเล่น">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputWebsite">เบอร์โทร*</label>
              <input type="text" class="form-control" id="inputWebsite" placeholder="08X-XXX-XXXX" disabled>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label>ที่อยู่*</label>
              <textarea name="" id="" class="form-control" placeholder="ที่อยู่"></textarea>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputWebsite">น้ำหนัก*</label>
              <input type="text" class="form-control" id="" placeholder="น้ำหนัก">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputWebsite">ส่วนสูง*</label>
              <input type="text" class="form-control" id="" placeholder="ส่วนสูง">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputWebsite">เพิ่มรูป*</label>
              <img class="d-block w-100 h-100" src="assets/images/violette.jpg">
            </div>
            <div class="form-group">
              <label for="exampleFormControlFile1">Example file input</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <div class="form-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
            </div>
          </div>
        </div>
        <div class="pull-right">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-body class="demo-rating">
        <span class="rating-header">Rating</span>
        <div>
          <table width="100%">
            <tr>
              <td>
                <span class="current-rate">รูปร่างหน้าตา</span>
              </td>
              <td>
                <div class="pull-right">
                  <ngb-rating [(rate)]="starRate" max=5>
                    <ng-template let-fill="fill">
                      <span class="star fill" [class.filled]="fill === 100">
                        <i class="ion-android-star" *ngIf="fill === 100"></i>
                        <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                      </span>
                    </ng-template>
                  </ngb-rating>
                  <span class="current-rate">{{ starRate }}</span>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>




