@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }
  nb-card-body {
    .star {
      font-size: 1.5rem;
      color: nb-theme(color-fg);
    }
    .rating-header {
      line-height: 2rem;
      font-size: 1.25rem;
      font-family: nb-theme(font-secondary);
      font-weight: nb-theme(font-weight-bolder);
      color: nb-theme(color-fg-heading);
    }
    .current-rate {
      font-size: 1.5rem;
      @include nb-ltr(padding-left, 1rem);
      @include nb-rtl(padding-right, 1rem);
      color: nb-theme(color-fg-heading);
    }
  }
}
